<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MuseoModerno-LightItalic.ttf</string>
		<string>MuseoModerno-SemiBoldItalic.ttf</string>
		<string>MuseoModerno-Italic.ttf</string>
		<string>MuseoModerno-BoldItalic.ttf</string>
		<string>MuseoModerno-BlackItalic.ttf</string>
		<string>MuseoModerno-ThinItalic.ttf</string>
		<string>MuseoModerno-ExtraBold.ttf</string>
		<string>MuseoModerno-ExtraLightItalic.ttf</string>
		<string>MuseoModerno-ExtraLight.ttf</string>
		<string>MuseoModerno-MediumItalic.ttf</string>
		<string>MuseoModerno-ExtraBoldItalic.ttf</string>
		<string>MuseoModerno-Light.ttf</string>
		<string>MuseoModerno-Black.ttf</string>
		<string>MuseoModerno-Bold.ttf</string>
		<string>MuseoModerno-Medium.ttf</string>
		<string>MuseoModerno-SemiBold.ttf</string>
		<string>MuseoModerno-Regular.ttf</string>
		<string>MuseoModerno-Thin.ttf</string>
	</array>
    <key>UIUserInterfaceStyle</key>
    <string>Dark</string>
</dict>
</plist>
